body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: green !important;
}
.nav-link {
  color: aliceblue !important;
}

.navbar-brand {
  color: blue !important;
  font-size: 30px;
}

.navbar-nav {
  margin-left: auto !important;
}

.nav-item {
  border: 2px solid black;
  justify-content: space-around;
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
}

.smalling {
  height: 200px;
  width: 100% !important;
  border-radius: 5px;
}

.bigimg {
  height: 400px;
  width: 100% !important;
  border-radius: 5px;
}

h1 {
  font-size: 20px !important;
}

p {
  font-size: 16px !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.dropdown-toggle {
  border: 0px solid black !important;
}
